/* Evita que el carrusel se desborde */
#carousel-DivMarketIA {
    overflow: hidden;
    max-width: 100%;
}

/* Ajusta las im치genes */
.carousel-img {
    width: 100%;
    /* nunca m치s ancho que el contenedor */
    max-width: 100%;
    /* asegura que no se desborde */
    height: 500px;
    /* altura fija en desktop */
    object-fit: cover;
    /* recorta manteniendo proporci칩n */
    display: block;
    /* elimina espacios fantasmas */
}

.carousel-control-prev-icon, .carousel-control-next-icon {      
    filter: invert(1);
} 
/* ajuste de imagenes del carousel para dispositivos grandes */
@media (max-width: 992px) {
    .carousel-img {
        height: 250px;
    }
}

/* En m칩viles, reduce la altura */
@media (max-width: 768px) {
    .carousel-img {
        height: 300px;
    }
}

/* Elimina scroll horizontal global */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}